{% extends 'base.html' %}

{% block content %}
<!-- Títulos -->
<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="breadcrumb"><a href="#">Home</a> / Properties</span>
        <h3>Properties</h3>
      </div>
    </div>
  </div>
</div>
<!-- menu propiedades -->
<div class="section properties">
  <div class="container">
    <ul class="properties-filter">
      <li>
        <a class="{% if not tipo_inmueble %}is_active{% endif %}" href="?">Todos</a>
      </li>
      <li>
        <a class="{% if tipo_inmueble == 'departamento' %}is_active{% endif %}" href="?tipo=departamento">Departamentos</a>
      </li>
      <li>
        <a class="{% if tipo_inmueble == 'casa' %}is_active{% endif %}" href="?tipo=casa">Casa</a>
      </li>
      <li>
        <a class="{% if tipo_inmueble == 'oficina' %}is_active{% endif %}" href="?tipo=oficina">Oficina</a>
      </li>
      <li>
        <a class="{% if tipo_inmueble == 'parcela' %}is_active{% endif %}" href="?tipo=parcela">Parcela</a>
      </li>
    </ul>
    <!-- Propiedades box -->
    <div class="row properties-box">
      {% for inmueble in inmuebles %}
      <div class="col-lg-4 col-md-6 align-self-center mb-30 properties-items">
        <div class="item">
          <a href="">
            <img src="{{ inmueble.imagen_url }}" alt="Imagen de {{ inmueble.nombre }}">
          </a>
          <span class="category">{{ inmueble.tipo_de_inmueble }}</span>
          <h6>${{ inmueble.precio }}</h6>
          <h4>
            <a href="">{{ inmueble.direccion }}</a>
          </h4>
          <ul>
            <li>Estacionamientos: <span>{{ inmueble.cantidad_estacionamiento }}</span></li>
            <li>Baños: <span>{{ inmueble.cantidad_banos }}</span></li>
            <li>m2 Construidos: <span>{{ inmueble.m2_construidos }}m2</span></li>
            <li>m2 Terreno: <span>{{ inmueble.m2_terreno }}m2</span></li>
            <!-- Otros detalles según necesites -->
          </ul>
          <div class="main-button">
            <a href="">Ver detalles </a>
          </div>
        </div>
      </div>
      {% empty %}
      <p>No properties found.</p>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="pagination">
          <li><a href="#">1</a></li>
          <li><a class="is_active" href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">>></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
